body{
    background-color: rgba(0, 0, 0, 0.881);
    color:white;
    border: 2px rgba(245, 176, 47, 0.742) solid;
}
header{
    margin-top: 5%;
}
main{
    margin: 5% 5% 5% 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border: 2px rgba(245, 176, 47, 0.742) solid;
}

nav{
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6%;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a{
    font-size: xx-large;
    color:rgba(245, 176, 47, 0.742);
}



h1{
    font-size: medium;
    color: white; 
    text-decoration: underline;
}
label{
    font-size: small;
    color: white; 
}
p{
    font-size: small;
    color: white; 
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0); 

}
table{
    font-size: small;
    color: white; 
}
form{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
button{
    background-color:orange;
}

.button{
    background-color: orange;
    text-decoration: none;
    padding: 1px 10px;
}
.button_red{
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    padding: 1px 10px;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ct{
   background-image: url("./ct.png");
   background-size: cover;
   background-attachment: fixed;
}

.t{
    background-image: url("./t.png");
    background-size: cover;
    background-attachment: fixed;
}

#explication{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img_ex{
width: 15%;
}